<%- partial('_pre') %>
<div class='l_main<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
    <script>
        var _hmt = _hmt || [];
        (function () {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?91e552959454d31844478e565ed355b6";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
      </script>
  <article id="<%= page.layout %>" class="md post article article-entry l_friends white-box reveal <%- theme.custom_css.body.effect.join(' ') %> article-type-<%= page.layout %>" itemscope itemprop="blogPost">
    <%- partial('_partial/meta',{post: page, position: 'top'}) %>
    <%- page.excerpt %>
    <% if (site.data.friends){ %>
      <% site.data.friends.forEach((group, i) => { %>
        <div class='friends-group'>
          <br>
          <h2 class='friend-header'>
            <%- group.group %>
          </h2>
          <% if (group.description) { %>
            <%- markdown(group.description) %>
          <%} %>
          <% if (theme.pages.friends.layout_scheme == 'sites') { %>
            <div class='site-card-group'>
              <% (group.items||[]).forEach(function(item){ %>
                <% if (item.url && item.title) { %>
                  <a class="site-card" target="_blank" rel="external nofollow noopener noreferrer" href="<%- url_for(item.url || '/') %>">
                    <div class="img">
                      <% if (item.screenshot) { %>
                        <img src="<%- item.screenshot %>"/>
                      <% } %>
                    </div>
                    <div class="info">
                      <img src="<%- item.avatar || (theme.plugins.lazyload && theme.plugins.lazyload.loadingImg) %>"/>
                      <span class="title"><%- item.title %></span>
                      <span class="desc"><%- item.description %></span>
                    </div>
                  </a>
                <% } %>
              <% }) %>
            </div>
          <% } else if (theme.pages.friends.layout_scheme == 'traditional') { %>
            <div class='friend-content'>
              <% (group.items||[]).forEach(function(item){ %>
                <% if (item.url && item.title) { %>
                  <a class='friend-card'
                    target="_blank" rel="external nofollow noopener noreferrer" href='<%- url_for(item.url || '/') %>'>
                    <div class='friend-left'>
                      <% if (item.avatar) { %>
                        <img class='avatar' src='<%- item.avatar || (theme.plugins.lazyload && theme.plugins.lazyload.loadingImg) %>'/>
                      <% } %>
                    </div>
                    <div class='friend-right'>
                      <p class="friend-name"><%- item.title %></p>
                      <% if (item.keywords) { %>
                        <div class='friend-tags-wrapper'>
                        <% (item.keywords||[]).forEach(function(keyword){ %>
                          <p class="tags"><i class="fad fa-hashtag fa-fw" aria-hidden="true"></i><%= keyword %></p>
                        <% }) %>
                        </div>
                      <% } %>
                      <% if(item.description){ %>
                        <div class='friend-tags-wrapper'>
                          <p class="tags"><%= item.description %></p>
                        </div>
                      <% } %>
                    </div>
                  </a>
                <% } %>
              <% }) %>
            </div>
          <% } else { %>
            <div class='simpleuser-group'>
              <% (group.items||[]).forEach(function(item){ %>
                <% if (item.url && item.title) { %>
                  <a class="simpleuser" target="_blank" rel="external nofollow noopener noreferrer" href="<%- url_for(item.url || '/') %>">
                    <img src="<%- item.avatar || (theme.plugins.lazyload && theme.plugins.lazyload.loadingImg) %>"/>
                    <span><%- item.title %></span>
                  </a>
                <% } %>
              <% }) %>
            </div>
          <% } %>
        </div>
      <% }) %>
    <% } %>
    <br><br>
    <%- page.more %>
    <%- partial('_partial/meta',{post: page, position: 'bottom'}) %>
  </article>

  <%- partial('_third-party/comments/index') %>

</div>
<%- partial('_partial/side') %>
